@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/space-mono-v12-latin-regular.eot");
  src: url("../fonts/space-mono-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/space-mono-v12-latin-regular.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-regular.woff") format("woff"), url("../fonts/space-mono-v12-latin-regular.ttf") format("truetype"), url("../fonts/space-mono-v12-latin-regular.svg#SpaceMono") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v12-latin-700.eot");
  src: url("../fonts/space-mono-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/space-mono-v12-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v12-latin-700.woff") format("woff"), url("../fonts/space-mono-v12-latin-700.ttf") format("truetype"), url("../fonts/space-mono-v12-latin-700.svg#SpaceMono") format("svg");
}
@font-face {
  font-display: swap;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v17-latin-regular.eot");
  src: url("../fonts/lexend-deca-v17-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lexend-deca-v17-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v17-latin-regular.woff") format("woff"), url("../fonts/lexend-deca-v17-latin-regular.ttf") format("truetype"), url("../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca") format("svg");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.big-container {
  max-width: 1440px;
  margin: 0 auto;
}

.katta-container {
  max-width: 1440px;
  margin: 0 auto;
}

.span-container {
  max-width: 1440px;
  margin: 0 auto;
}

.type-container {
  max-width: 1440px;
  margin: 0 auto;
}

.go-container {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  overflow-x: hidden;
}

nav {
  padding: 22px 0;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 15;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 58px;
       column-gap: 58px;
  max-width: 1106px;
  max-height: 53px;
}
@media screen and (max-width: 800px) {
  .navbar .menu {
    max-width: 450px;
    max-height: 29px;
  }
  .navbar .menu__btn {
    max-width: 110px;
    max-height: 41px;
    white-space: nowrap;
    padding-left: 15px;
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .navbar .menu {
    display: none;
    width: 256px;
    background-color: #333a44;
    min-height: 100vh;
    position: fixed;
    justify-content: center;
    left: 100%;
    top: 78px;
    display: flex;
    flex-direction: column;
    z-index: 10;
  }
  .navbar .menu__ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 150px;
  }
  .navbar .menu__btn {
    position: absolute;
    bottom: 100px;
    padding: 14px 39px;
    font-size: 15px;
    max-width: 192px;
    max-height: 53px;
  }
  .navbar .navbar {
    -moz-column-gap: 20px;
         column-gap: 20px;
    position: relative;
  }
  .navbar .navbar__item input {
    display: none;
    position: absolute;
    left: 32px;
  }
  .navbar .check {
    display: block;
  }
  .navbar .check {
    position: absolute;
    top: 15px;
    left: 32px;
  }
}

.navbar__logo {
  max-width: 107.82px;
  max-height: 28.56px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__ul {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  max-width: 249px;
  max-height: 25px;
}
.menu__ul-li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__ul-li-link {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  letter-spacing: 1px;
  transition: 0.5s;
}
.menu__ul-li-link:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #FCB72B;
}
.menu__btn {
  padding: 14px 39px;
  border: none;
  background-color: #FCB72B;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}
.menu__btn:hover {
  background-color: #F2F5F9;
  transition: 0.5s;
  color: #495567;
}

.check {
  display: none;
}
.check__span {
  display: flex;
  flex-direction: column;
  background-color: #FCB72B;
  width: 19px;
  height: 3px;
  margin-top: 3px;
}

.navbar__item input {
  display: none;
}

.check:checked ~ .menu {
  left: 0;
}

.deliver {
  padding-top: 160px;
}

.cards {
  position: relative;
}

.cards__img {
  display: flex;
  -moz-column-gap: 284px;
       column-gap: 284px;
}

.cards__line {
  position: absolute;
  top: 45px;
  left: -150px;
  display: inline-block;
  min-width: 974px;
  min-height: 10px;
  background-color: #E5ECF4;
  z-index: -1;
}

.title {
  display: flex;
}

.card__title {
  display: flex;
  padding-top: 47px;
  flex-direction: column;
  padding-left: 20px;
  row-gap: 27px;
  max-width: 350px;
  max-height: 155px;
}
.card__title .card__head {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
.card__title .card__paragraph {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media screen and (max-width: 860px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    min-width: 398px;
    min-height: 130px;
  }
  .card__paragraph {
    min-width: 398px;
    min-height: 75px;
  }
}
@media screen and (max-width: 576px) {
  .for-title {
    position: relative;
  }
  .title {
    min-width: 311px;
    min-height: 152px;
    text-align: center;
    position: absolute;
    top: -50px;
    left: 70px;
    row-gap: 128px;
  }
  .card__title {
    min-width: 300px;
    min-height: 12px;
  }
  .card__paragraph {
    min-width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    right: 150px;
  }
  .card__paragraph {
    min-width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    min-width: 200px;
    min-height: 100px;
  }
  .card__paragraph {
    min-width: 100px;
  }
}
@media screen and (max-width: 350px) {
  .title {
    left: 50px;
  }
  .card__paragraph {
    min-width: 50px;
  }
}
@media screen and (max-width: 992px) {
  .cards__img {
    padding-left: 50px;
    -moz-column-gap: 247px;
         column-gap: 247px;
  }
  .cards__line {
    min-width: 900px;
  }
}
@media screen and (max-width: 860px) {
  .cards {
    transform: rotate(90deg);
    left: -300px;
    top: 300px;
  }
  .cards__img {
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .cards__img .cards__calc {
    transform: rotate(-90deg);
  }
  .cards__img .cards__moto {
    transform: rotate(-90deg);
  }
  .cards__img .cards__motoman {
    transform: rotate(-90deg);
  }
  .cards__line {
    min-width: 470px;
    left: 50px;
  }
}
@media screen and (max-width: 800px) {
  .cards {
    top: 270px;
    left: -270px;
  }
}
@media screen and (max-width: 720px) {
  .cards {
    top: 270px;
    left: -270px;
  }
}
@media screen and (max-width: 640px) {
  .cards {
    top: 200px;
    left: -250px;
  }
}
@media screen and (max-width: 576px) {
  .cards {
    margin-top: 227px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: static;
  }
  .cards__img {
    -moz-column-gap: 224px;
         column-gap: 224px;
  }
  .cards__line {
    display: none;
  }
}
footer {
  padding: 22px 0;
  background-color: #333A44;
}

.navbar-footer {
  display: flex;
  align-items: center;
  -moz-column-gap: 58px;
       column-gap: 58px;
  max-width: 1106px;
  max-height: 53px;
}
@media screen and (max-width: 800px) {
  .navbar-footer .menu2 {
    max-width: 450px;
    max-height: 29px;
  }
  .navbar-footer .menu2__btn {
    max-width: 110px;
    max-height: 41px;
    white-space: nowrap;
    padding-left: 15px;
    font-size: 12px;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .navbar-footer .menu2 {
    width: 256px;
    justify-content: center;
    top: 78px;
    display: flex;
    z-index: 10;
  }
  .navbar-footer .menu2__ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin-bottom: 150px;
  }
  .navbar-footer .navbar-footer {
    -moz-column-gap: 20px;
         column-gap: 20px;
    position: relative;
  }
}

.navbar__logo {
  max-width: 107.82px;
  max-height: 28.56px;
}

@media screen and (max-width: 576px) {
  .navbar-footer {
    display: flex;
    flex-direction: column;
    min-height: 438px;
    align-items: center;
    row-gap: 40px;
    justify-content: center;
  }
  .menu__ul {
    display: flex;
    flex-direction: column;
  }
  .footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}
.menu2 {
  display: flex;
}

.social {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.footer-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.big-container {
  max-width: 1450px;
  margin: 0 auto;
  padding-top: 100px;
  min-height: 650px;
  background-image: url(../../images/bacground-img.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero__title {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__theme {
  position: absolute;
  top: 153px;
  left: -160px;
  max-width: 500px;
  max-height: 112px;
  padding-left: 165px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

.hero__article {
  position: absolute;
  top: 305px;
  left: 100px;
  max-width: 405px;
  max-height: 100px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
}

.hero__btn {
  position: absolute;
  top: 445px;
  left: 100px;
  padding: 14px 39px;
  background-color: #FCB72B;
  max-width: 180px;
  max-height: 53px;
  border: none;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.header-line {
  position: absolute;
  bottom: 157px;
  right: 288px;
  max-width: 447px;
  max-height: 138px;
}

.header-line2 {
  position: absolute;
  bottom: 297px;
  left: 0;
  max-width: 202px;
  max-height: 110px;
}

@media screen and (max-width: 1200px) {
  .header-line {
    right: 50px;
  }
  .header-line2 {
    left: -50px;
  }
  .hero__article {
    left: 150px;
  }
  .hero__btn {
    left: 150px;
  }
}
@media screen and (max-width: 1040px) {
  .header-line {
    max-width: 300px;
    min-height: 138px;
    bottom: 180px;
  }
  .header-line2 {
    left: -160px;
  }
}
@media screen and (max-width: 992px) {
  .hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    margin-top: 137px;
  }
  .hero__theme {
    position: relative;
    text-align: center;
    left: -80px;
    top: -80px;
  }
  .hero__article {
    position: static;
    text-align: center;
  }
  .hero__btn {
    position: static;
  }
  .header-line {
    left: 0;
    bottom: 39px;
  }
  .header-line2 {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .hero__theme {
    min-width: 311px;
    top: -100px;
    font-size: 40px;
  }
  .hero__article {
    padding-bottom: 35px;
  }
  .header-line {
    left: -190px;
  }
}
.type-container {
  max-width: 1440px;
  height: 100vh;
}

.scoot-type {
  margin-top: 200px;
  overflow: hidden;
}

.wrapper {
  display: flex;
}

.wrapper__title {
  display: flex;
  flex-direction: column;
}
.wrapper__title .wrapper__main {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  max-width: 445px;
}
.wrapper__title .wrapper__p {
  padding-top: 24px;
  max-width: 445px;
  max-height: 100px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}
.wrapper__title .wrapper__btn {
  margin-top: 40px;
  max-width: 180px;
  max-height: 53px;
  padding: 14px 39px;
  border: none;
  background-color: #FCB72B;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.wrapper__title .wrapper__btn:hover {
  transition: 0.5s;
  background-color: #F2F5F9;
  transition: 0.5s;
  color: #495567;
}

.wrapper__right {
  position: relative;
}

.line-middle {
  position: absolute;
  background-image: url(../../images/line-middle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 742.38px;
  min-height: 138.37px;
  max-width: 734.38px;
  max-height: 114.37px;
  top: 264px;
  left: 132px;
  z-index: 1;
}

.girl-img {
  min-width: 445px;
  min-height: 445px;
  max-width: 445px;
  max-height: 445px;
  border-radius: 50%;
  position: absolute;
  left: 230px;
}

.right-circle {
  position: absolute;
  right: -1030px;
  background-image: url(../../images/right-circle.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 445px;
  min-height: 445px;
  max-width: 445px;
  max-height: 445px;
}

@media screen and (max-width: 1200px) {
  .wrapper__right {
    position: relative;
  }
  .girl-img {
    left: 115px;
  }
  .line-middle {
    left: -55px;
    min-height: 121.37px;
  }
  .right-circle {
    display: none;
  }
}
@media screen and (max-width: 1040px) {
  .girl-img {
    left: 0;
  }
  .line-middle {
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    margin: 180px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
  }
  .wrapper__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 573px;
    max-height: 304px;
    margin-top: 470px;
  }
  .wrapper__main {
    min-width: 457px;
    min-height: 96px;
  }
  .wrapper__p {
    min-width: 573px;
    min-height: 75px;
  }
  .wrapper__btn {
    max-width: 180px;
    min-height: 53px;
  }
  .girl-img {
    left: -230px;
  }
  .line-middle {
    left: -380px;
  }
}
@media screen and (max-width: 800px) {
  .wrapper__right {
    min-width: 400px;
    min-height: 400px;
    left: 150px;
  }
  .line-middle {
    min-height: 100px;
  }
  .wrapper__title {
    margin-top: 100px;
  }
}
@media screen and (max-width: 720px) {
  .line-middle {
    min-height: 80px;
  }
  .girl-img {
    min-width: 311px;
    min-height: 311px;
  }
  .wrapper__p {
    min-width: 311px;
    max-height: 311px;
  }
  .wrapper__main {
    min-width: 311px;
    max-height: 311px;
  }
  .girl-img {
    max-width: 311px;
    max-height: 311px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper__main {
    max-width: 311px;
    min-height: 74px;
  }
  .wrapper__p {
    max-width: 311px;
    max-height: 150px;
  }
  .girl-img {
    left: -140px;
    max-width: 150px;
    max-height: 150px;
  }
}
@media screen and (max-width: 720px) {
  .girl-img {
    left: -80px;
  }
  .line-middle {
    left: -300px;
    top: 180px;
  }
  .wrapper__title {
    margin-top: 5px;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    margin-top: 550px;
  }
  .wrapper__title {
    row-gap: 10px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 450px) {
  .line-middle {
    left: -323px;
    min-height: 70px;
  }
  .wrapper__title {
    margin-top: 5px;
    row-gap: 50px;
  }
}
.go-container {
  max-width: 1440px;
  margin: 0 auto;
}

.go-to-city {
  overflow: hidden;
}

.wrapper__main {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  max-width: 445px;
}

.wrapper__p {
  padding-top: 24px;
  max-width: 445px;
  max-height: 100px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.wrapper__btn {
  margin-top: 40px;
  max-width: 180px;
  max-height: 53px;
  padding: 14px 39px;
  border: none;
  background-color: #FCB72B;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.wrapper__btn:hover {
  transition: 0.5s;
  background-color: #F2F5F9;
  transition: 0.5s;
  color: #495567;
}

.main {
  display: flex;
  -moz-column-gap: 220px;
       column-gap: 220px;
}

.images {
  position: relative;
}

.line-middle2 {
  position: absolute;
  left: -305px;
  background-image: url(../../images/line-middle2.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 734.38px;
  min-height: 99.37px;
}

.left-circle {
  position: absolute;
  background-image: url(../../images/left-circle.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 445px;
  min-height: 445px;
  left: -350px;
}

.city {
  border-radius: 50%;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .main {
    text-align: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .texts {
    margin-top: 50px;
  }
}
@media screen and (max-width: 720px) {
  .city {
    max-width: 311px;
    max-height: 311px;
  }
}
@media screen and (max-width: 576px) {
  .line-middle2 {
    top: 50px;
    left: -250px;
  }
  .wrapper__main {
    max-width: 311px;
    max-height: 64px;
  }
  .wrapper__p {
    max-width: 311px;
    max-height: 150px;
    margin-top: 100px;
  }
}
.kissa-type {
  overflow: hidden;
  margin-top: 150px;
}

.line-middle3 {
  position: absolute;
  top: 0;
  left: 250px;
  background-image: url(../../images/end-line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 1040px) {
  .line-middle3 {
    left: 0;
  }
}
@media screen and (max-width: 992px) {
  .line-middle3 {
    left: -350px;
  }
}
@media screen and (max-width: 800px) {
  .wrp2 {
    margin-top: 250px;
  }
}
.contact {
  max-height: 300px;
  background-color: #495567;
  padding: 102px 165px;
}

.contact-main {
  display: flex;
  justify-content: space-between;
}

.contact-text h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #ffffff;
  max-width: 415px;
  max-height: 96px;
}

.btn {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: center;
}

.contact-btn {
  background-color: #e5ecf4;
  padding: 9px 16px;
  max-width: 159px;
  max-height: 56px;
  border-radius: 4px;
}

.contact-btn2 {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  align-items: center;
  background-color: #e5ecf4;
  padding: 9px 16px;
  max-width: 159px;
  max-height: 56px;
  border-radius: 4px;
}

.apple-btn {
  display: flex;
  -moz-column-gap: 11px;
       column-gap: 11px;
}

.btn-text h4 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: #495567;
}

.btn-text h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: #495567;
}

@media screen and (max-width: 992px) {
  .contact {
    padding: 104px 0;
  }
  .contact-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact-text {
    text-align: center;
  }
  .btn {
    margin-top: 40px;
    display: flex;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
}
.katta-container {
  padding-top: 50px;
  background-image: url(../../images/bgabout.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 200px;
  max-width: 1500px;
  overflow-x: hidden;
  z-index: -1;
}

.header {
  display: flex;
  padding-left: 50px;
}

.header-h1 {
  padding-top: 80px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #ffffff;
}

@media screen and (max-width: 720px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  .scoot-type2 {
    margin-top: -100px;
  }
}
.our-values {
  margin-top: 100px;
  overflow: hidden;
}

.about-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-cards-h2 {
  position: absolute;
  top: -50px;
  left: 450px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.about-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-about-card1 {
  max-width: 240px;
  max-height: 240px;
  border-radius: 50%;
}

.about-card-text {
  max-width: 350px;
  max-height: 130px;
}

.about-card-text h4 {
  margin-top: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}

.about-card-text p {
  margin-top: 27px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939caa;
}

@media screen and (max-width: 1040px) {
  .our-values {
    max-width: 950px;
    max-height: 700px;
  }
}
@media screen and (max-width: 992px) {
  .about-cards-h2 {
    left: 320px;
    max-width: 457px;
    max-height: 48px;
  }
  .about-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 139px;
  }
  .about-card-text {
    min-width: 457px;
    min-height: 75px;
  }
}
@media screen and (max-width: 800px) {
  .about-cards-h2 {
    left: 250px;
  }
}
@media screen and (max-width: 640px) {
  .about-cards-h2 {
    left: 150px;
  }
}
@media screen and (max-width: 576px) {
  .about-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-cards-h2 {
    max-width: 200px;
    max-height: 32px;
    left: 150px;
  }
  .about-card-text p {
    max-width: 311px;
    max-height: 100px;
  }
}
@media screen and (max-width: 500px) {
  .about-cards-h2 {
    left: 100px;
  }
}
@media screen and (max-width: 450px) {
  .about-cards-h2 {
    left: 50px;
  }
}
@media screen and (max-width: 350px) {
  .about-cards-h2 {
    left: 50px;
  }
}
.faqs {
  margin-top: 150px;
  position: relative;
}

.faqs h2 {
  position: absolute;
  top: -50px;
  left: 650px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.how-it-work {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.how-text h3 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
  min-width: 350px;
  min-height: 48px;
}

.how-infor {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.first-infor {
  display: flex;
  flex-direction: column;
  background-color: #f2f5f9;
  padding: 32px 40px;
  row-gap: 24px;
}

.first-infor h4 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.first-infor p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}/*# sourceMappingURL=main.css.map */