
footer {
    padding: 22px 0;
    background-color: #333A44;
}
.navbar-footer {
    display: flex;
    align-items: center;
    column-gap: 58px;
    max-width: 1106px;
    max-height: 53px;
    @include for-large-tablet(){
        .menu2 {
            max-width: 450px;
            max-height: 29px;
            &__btn {
                max-width: 110px;
                max-height: 41px;
                white-space: nowrap;
                padding-left: 15px;
                font-size: 12px;
                text-align: center;
            }
        }
    }

    @include for-mobile(){
        .menu2 {
            width: 256px;
            justify-content: center;
            top: 78px;
            display: flex;
            
            z-index: 10;
            &__ul {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                margin-bottom: 150px;
            }
        }
        .navbar-footer {
            column-gap: 20px;
            position: relative;
        }
    }
}
.navbar__logo {
    max-width: 107.82px;
    max-height: 28.56px;
}


@include for-mobile{
    .navbar-footer{
        display: flex;
        flex-direction: column;
        min-height: 438px;
        align-items: center;
        row-gap: 40px;
        justify-content: center;
    }
    .menu__ul{
        display: flex;
        flex-direction: column;
    }
    .footer-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
}
.menu2{
    display: flex;
}
.social{
    display: flex;
    column-gap: 24px;
}
.footer-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
}